<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <add key="TWITTER_CONSUMER_SECRET" value="umlFYpYK4fcAiJQ3YduHDLvCNoIwpxaXSAvbndwfWA" />
    <add key="TWITTER_CONSUMER_KEY" value="8AkI5En56iB08qgT4qhr3w" />
    <add key="TWITTER_ACCESS_TOKEN" value="1900024093-SyycJnyO4nFWwnKiZjbNkgoUhUQEqXBL6BWSyAL" />
    <add key="TWITTER_ACCESS_TOKEN_SECRET" value="AUrQ23JuIiQijUqdPMN9Cfqm56Bmv7YAmtP5To5vY" />
  </appSettings> <system.web>
    <compilation debug="true" targetFramework="4.5" />
    
    <pages controlRenderingCompatibilityVersion="4.0" />
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer></configuration>